.profilecontainer {
  display: grid;
  grid-template-columns: 17vw 46vw 17vw;
  height: 90vh;
  width: 80vw;
  /* align-items: center; */
  /* justify-content: center; */
  margin: 5vh auto;
}

.profilepic {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #eef2ff;
  border-right: 2px solid white;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.profilepic p {
  position: relative;
  top: 4vh;
  text-align: left;
  font-size: 35px;
  font-family: "SF Pro Display";
  font-weight: 600;
}
.userimage {
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
  position: relative;
  /* bottom: 10vh; */
  background-image: url("https://cdn.pixabay.com/photo/2017/07/18/23/23/user-2517433_1280.png");
  background-position: center;
  background-size: 25vh;
  background-repeat: no-repeat;
}
.profilemenu {
  height: 10vh;
  font-size: 25px;
  font-family: "SF Pro Display";
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 5vh;

  border-radius: 10px;
}
.profilemenu:hover {
  background-color: white;
}
.profileinfo {
  font-size: 15px;
  font-family: "SF Pro Display";
  background-color: #eef2ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-right: 2px solid white;

  /* justify-content: center; */
}
.profileextra {
  background-color: #eef2ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.profileextra p {
  color: white;
  font-size: 20px;
}
.fields {
  position: relative;
  top: 13vh;
  margin-top: 2vh;
}
.fields input {
  display: flex;
  border: 0px;

  align-items: center;
  text-align: start;
  border-radius: 3px;
  height: 7vh;
  width: 30vw;
  background-color: white;
}
