.cartcontainer {
  font-family: "SF Pro Display";
  text-align: center;
  /* height: 1000vh; */
  /* background-color: rgb(20 21 26); */
  /* color: white; */
}
.cartheading {
  display: grid;
  grid-template-columns: 5vw 45vw 15vw 15vw 15vw 5vw;
  height: 10vh;
}
.cartcard {
  display: grid;
  width: 100vw;

  grid-template-columns: 15vw 35vw 15vw 15vw 15vw 5vw;
  grid-template-rows: 25vh;
}
.carttitle {
  display: flex;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.carditems {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  border-bottom: 1px solid gray;
}
.titleitem {
  color: rgb(117, 117, 105);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
}
.btn {
  font-size: 20px;
  color: black;
}
.deletebtn {
  font-size: 20px;
  /* background-color: rgb(20 21 26); */
  background-color: white;
  color: rgb(255, 255, 255);
  border: 0px;
}
#leftarr {
  border-right: 1px solid gray;
  font-size: 22px;
}
#leftarr:active {
  background-color: rgb(58, 165, 253);
  color: white;
}
#totalamount {
  position: relative;
  top: 5vh;
}
#emptycart {
  opacity: 0;
}
